body {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: solid;
  border-radius: 40px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
}

.menu a:visited {
  color: black;
}

.item {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.item-info {
  flex: 1;
  margin: 40px;
}

.price{
  font-weight: bold;
  padding: 40px;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 30px;
}

h3 {
  font-size: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

footer {
  text-align: center;
}
