body {
  background-color: #A37C68;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 40px;
  background-color: white;
  font-family: Poppins;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.menu a:visited {
  color: black;
}

.category {
  background-color: #E2E2E2;
}

.item {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  padding: 20px 0 20px 0;
}

.item-info {
  flex: 1;
  margin: 40px;
}

.price{
  font-size: 25px;
  font-weight: bold;
  padding: 40px;
  font-family: monospace;
}


h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
 margin-bottom: 0;
 font-size: 30px;
 padding: 10px;
}

h3 {
  font-size: 25px;
  margin-bottom: 0;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  transition: transform .3s;
}

.image:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
}

@media screen  and (max-width: 580px) {
  h1 {
    font-size: 25px;
  }

  h2, h3 {
    font-size: 20px;
  }

  .menu {
    flex-direction: row;
    align-items: center;
  }

  .menu a {
    font-size: 15px;
  }

  .item {
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }

  .item-info {
    margin: 10px;
  }

  .item img {
    width: 200px;
    height: 200px;
  }

  .price {
    font-size: 20px;
    padding: 10px;
  }
}
